samplerest.module/Schemas/Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Response" xmlns:tns="http://www.example.org/Response" elementFormDefault="qualified">

    <complexType name="Employee">
    	<sequence>
    		<element name="empid" type="string"></element>
    		<element name="empname" type="string"></element>
    		<element name="emplocation" type="string"></element>
    		<element name="empref" type="string"></element>
    	</sequence>
    </complexType>

    <element name="EmpResponse" type="tns:Employee"></element>
</schema>